body{
  background: rgb(22, 15, 41);
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 100%;
}

.wall {
  fill: #9133ec;
}

.empty {
  fill: white;
}

.walls, .pacman {
  position: absolute;
  top: 80px;
}

.pacman {
  fill: #ffb802;
}


.ghost {
   fill: #cb61e6;
}


.dot {
   fill: #ebbf6f;
}

.coin{
  fill: gold;
}

