body{
  background: rgb(22, 15, 41);
}

.level {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  height: 100%;
}

.wall {
  fill: #9133ec;
}

.empty {
  fill: white;
}

.map{
  position: absolute;
}

.pacman {
  fill: #ffb802;
}


.ghost {
   fill: #cb61e6;
}


.dot {
   fill: #ebbf6f;
}

.coin{
  fill: gold;
}

